/* universal selector */
* {
  box-sizing: border-box;
  color: #ff8000;
font-family:Arial, Helvetica, sans-serif;
}
/* general body settings, styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  height: 60px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: black;
  color: #ff8000;
}
/* navigation bar settings */
nav {
  padding-top: 20px;
  margin-right: 55px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
  background-color: black;
}
/* link stylings */
a {
  color: #ff8000;
  text-decoration: none;
}
/* styling for the link within the navigation bar */
nav a{
  margin-left: 25px;
}

/* banner settings */
.hero-banner{
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
 height: 150px;
 object-fit: cover;
 align-items: flex-end;
 justify-content: flex-end;
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  align-content: end;
}

/* displays main area as grid */
.container{
  margin: 0px 5%;
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 20px;
}

/* Sets margin and font size within pre tag */
pre{
  background-color: rgba(0, 0, 0, 0.128);
  color: white;
  font-size: 16px;
  /* position: relative; */
}
/* sets avatar's img height */
section >img{
  height: 200px;
  float: left;
  padding-right: 20px;
  padding-left: 5px;
}

/* border settings */
#about{
      border-right:3px solid black;

}
#work{
  border-right: 3px solid black;
}

#contact{
  border-right:  3px solid black;
}

/* subgrid area  settings*/
#workGrid{
  min-height: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "bio bio "
  "xxx yyy"
  "uuu ttt";
  /* gap: 5px; */
}

.work-grid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  position: relative;
  text-align: center;
  color: white;
}


/* Not needed settings, testing purposes */
/* .work-grid h4 {
  background-color: rgba(255, 68, 0, 0.829);
  position: relative;
  bottom: 10px;
  max-width: fit-content;
  padding: 5px;
  color:white;
} */

.work-grid h1 a{
  background-color: rgba(255, 68, 0, 0.829);
  color: white;
}

.work-grid img{
  object-fit: cover;
  max-height: 225px;
  width: 100%;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor: pointer;
  align-content: end;
  transition: .6s ease;
}
/* selectors to target grid areas for porfolio imgs */
#bio{
  grid-area: bio;
  }

#bio img {
    object-fit: cover;
    width: 100%;
    max-height: 450px;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:0 auto;
    cursor: pointer;
    align-content: end;
}

#XXX{
    grid-area: xxx;
}
  
#YYY{
    grid-area: yyy;
}
#TTT{
    grid-area: ttt;
  }

#UUU{
    grid-area: uuu;
}

/* styling for paragraphs */
p{
  color: black;
  margin: 0px;
  text-align:justify;
  font-size: 16px;
  letter-spacing: 1.1px;
}
/* top and margin bottom for sections */
.page-section {
    margin-top:20px;
    margin-bottom: 20px;
    
    
}
/* text positioning */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
/* Hover setting on IMG on subgrid items */
.work-grid:hover img {
  opacity: 0.3;
}

.links{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* hero banner's text styling */
div >h2{
  display: inline-block;
  background: rgb(230, 255, 7);
  padding-left: 20px;
  padding-right: 15px;
  margin-right: 55px;
  margin-bottom: 10px;
}
/* styling for about me, work and contact me for left column in the main grid */
section > h2{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 0px;
  font-size: 36px;
  align-items: flex-end;

  }

  /* header h1. h2, h4 styles */
h1{
  display: inline-block;
text-align: center;
  background: rgb(0, 0, 0);
  padding-left: 40px;
  letter-spacing: -1px;
  padding-right: 5px;
  color: rgb(230, 255, 7);
  font-family: sans-serif;
  margin: 15px;
}
h2{
  color: rgb(233, 94, 8);
  margin: 0px;
}
h4{
  color: white;
}

@media all and (max-width: 699px) {
  body {
    background: rgba(204, 204, 204, 0.433);
  }

  .container{
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 100vh;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 10px;
  }
  /* #contact{
    display: none;
  } */
p{
  font-size: 16px;
}
  section > img{
    height: 90px;
  }
  .hero-banner{
    display: none;
  }
  /* .links{
    display: none;
  } */
  header{
    display: none;
  }

  .work-grid img{
    height:175px;
  }
  #workGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "bio"
    "xxx"
    "yyy"
    "uuu" 
    "ttt";
    
  }
  section > h2{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 0px;
    font-size: 15px;
    align-items: flex-end;
    }
}
/* sets styling and positioning for different display sizes */
@media all and (max-width: 1150px) and (min-width: 700px) {
  body {
    background: rgba(225, 255, 0, 0.041);
  }

nav{
  margin-right: 40px;
}

.container{
    margin: 0px 5%;
    display: grid;
    min-height: 300px;
    height: 100vh;
    grid-template-columns: 20% 80%;
    /* grid-template-rows: 1fr 3fr 1fr; */
    gap: 15px;
  }

p{
  font-size: 14px;
}

section > img{
    height: 120px;
  }

.hero-banner{
    display: none;
  }

#bio img{
  height: 500px;
 }
  /* header{
    display: none;
  } */

.work-grid img{
  height: 225px;
  }

#workGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "bio bio"
    "xxx yyy"
    "uuu ttt";
    
  }
 
header h1{
   margin-left: 20px;
  }

.page-section h2{
  display: flex;
  font-size: 20px;
  margin-right: 10px;
}

}
