* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

div >h2{
  display: inline-block;
  background: rgb(230, 255, 7);
  padding-left: 20px;
  padding-right: 50px;
  margin-right: 15px;
  margin-bottom: 10px;

}
header>h1{
  display: inline;
  background: white;
  padding-left: 40px;
  padding-right: 5px;

}

#about{
      border-right: solid blue;

}
#work{
  border-right: solid pink;
}

.container{
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 20px;
}
.work-grid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#contact{
  border-right: solid orange;
}
#workGrid{
  margin: 0px 5%;
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "sun sun "
  "xxx yyy"
  "uuu ttt";
}


a >h4 {
  color: rgb(255, 0, 106);
  padding: 20px;
  background-color: rgb(0, 255, 251);
  right:-10px;
  top: 220px;
  padding: 25px;
  max-width: 550px;
  z-index: 100;
  text-decoration: none;

}

#Sun{
grid-area: sun;
background-image: url(../images/02-portfolio-1.jpg);
height: 350px;
}
#XXX{
  grid-area: xxx;
  background-image: url(../images/02-portfolio-2.jpg);
}

#YYY{
  grid-area: yyy;
  background-image: url(../images/02-portfolio-3.jpg);
}
#TTT{
  grid-area: ttt;
  background-image: url(../images/02-portfolio-3.jpg);
}
#UUU{
  grid-area: uuu;
  background-image: url(../images/02-portfolio-4.jpg);
}


header {
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #70267f;
  color: #ff8000;
}
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.hero-banner{
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
 height: 180px;
 object-fit: cover;
 align-items: flex-end;
 justify-content: flex-end;
 
}
a {
  color: #ff8000;
  margin-left: 25px;
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
div h2{
  color: rgb(233, 94, 8);s
}